.dashboard-wrapper {
    font-family: googleRegular;

    .contentwrapper {
        width: 100%;

        .leftc {
            // width: 50%;
            // height: 100%;
            // min-height: 90vh;
            // display: inline-block;
            // min-height: 90vh;
            // width: 50%;
            
        }

        .rightc {
            // width: 45%;
            // height: 100%;
            // min-height: 90vh;
            // display: inline-block;
            // margin-left: 5%;
            // min-height: 90vh;
            // position: absolute;
            // left: 55%;
            // width: 45%;
            // top: 120px;;
        }

        .pyinput {
            min-height: 75vh;
        }

    }

    .nooutput {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    } 

    .nooutputw {
        width: 100%;
        height: 100%;
    }

    .loading {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}
.comparewrapper {
    width: 100%;
}

.upload-wapper {
    .uploadfullwrapper {
        width: 100%;
    }
}

.compare-wrapper {
    .lefthalfcols {
        border-right: 1px solid gray;
        
    }
    .righthalfcols {
        padding-left: 10px;
    }
    .nopat {
        color: rgb(225, 225, 225, 0.5)
    }
}

.tablex {
    overflow-y:scroll;
    height:300px;
    display:block;   
}

.output {
    color: white;
    maxHeight: 100%;
    overflow: auto
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }