.dashboard-wrapper {
    font-family: googleRegular;

    .contentwrapper {
        width: 100%;

        .leftc {
            // width: 50%;
            // height: 100%;
            // min-height: 90vh;
            // display: inline-block;
            // min-height: 90vh;
            // width: 50%;
            
        }

        .rightc {
            // width: 45%;
            // height: 100%;
            // min-height: 90vh;
            // display: inline-block;
            // margin-left: 5%;
            // min-height: 90vh;
            // position: absolute;
            // left: 55%;
            // width: 45%;
            // top: 120px;;
        }

        .pyinput {
            min-height: 75vh;
        }

    }

    .nooutput {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    } 

    .nooutputw {
        width: 100%;
        height: 100%;
    }

    .loading {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}
.comparewrapper {
    width: 100%;
}

.upload-wapper {
    .uploadfullwrapper {
        width: 100%;
    }
}

.compare-wrapper {
    .lefthalfcols {
        border-right: 1px solid gray;
        
    }
    .righthalfcols {
        padding-left: 10px;
    }
    .nopat {
        color: rgb(225, 225, 225, 0.5)
    }
}

.tablex {
    overflow-y:scroll;
    height:300px;
    display:block;   
}

.output {
    color: white;
    maxHeight: 100%;
    overflow: auto
}