

.login-wrapper {
    background-color: var(--main-black);
    width: 100%;
    min-height: 100%;
    height: 100%;
    font-family: googleRegular;
    letter-spacing: 0.03em;

    .content {
        .header {
            display: block;
        }
        .loginform {
            display: block;
        }
    }

    .shiftright {
        margin-top: 5px;;
    }

    .innershiftright {
        position: absolute;
        right: 0;
        text-decoration: underline;
        color: rgb(130, 130, 251);
    } 
    .right {
        width: 100%;
    }
    .backsign {
        text-decoration: underline;
        color: rgb(130, 130, 251);
    }
}
